.app-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  .navbar{
    padding: 20px;
    background-color: #333;
    color: #fff;
  }

  .app-body{
    display: flex;
    flex: 1;
    height: 100%;
  }

  .side-bar{
    width: 200px;
    border-right: 1px solid #eee;
    .link{
      display: block;
      padding: 20px;
      text-decoration: none;
      color: #333;
      border-bottom: 1px solid #eee;
    }
  }

  .main-content{
    flex: 1;
    .page{
      padding: 20px;
    }
  }

}



.cal-month{
  .cal-week{
    display: flex;
  }

  .cal-date{
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    .cal-text{
      width: 28px;
      padding: 8px;
      border-radius: 3px;
    }
    &.selected{
      .cal-text{
        background-color: #1184CE;
        color: #fff;
      }
    }
  }
}
